<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.xiaohu.diet_recommend.mapper.UserMealMapper">

    <select id="getUserMealRelate" resultType="icu.xiaohu.diet_recommend.recommend.dto.RelateDTO">
        select user_id, meal_id, grade
        from t_user_meal
        where 1 = 1;
    </select>

    <select id="getMyJudge" resultType="icu.xiaohu.diet_recommend.model.vo.MealGradeVo">
        SELECT tm.`name` AS mealName, tum.grade, tum.tag
        FROM `t_user_meal` tum
                 LEFT JOIN t_meal tm ON tm.id = tum.meal_id
        WHERE user_id = #{userId}
        ORDER By tum.update_time;
    </select>

    <select id="getMyMealGrades" resultType="icu.xiaohu.diet_recommend.model.dto.MyMealGradeDto">
        select m.*, um.grade from t_user_meal um
                                      left join t_meal m on m.id = um.meal_id
        where um.user_id = #{userId}
        order by um.grade desc;
    </select>
</mapper>
